<a href="https://colab.research.google.com/github/luishernandezpw/PrograIII-Semi-2025/blob/master/introduccion_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("Bienvenidos chicos a Programacion Computacional III")

Hola Mundo
Bienvenidos chicos a Programacion Computacional III

In [ ]:
nombre = "Luis Hernandez"
edad = 5
print(nombre, edad)

edad = "cinco"
print("Tu edad: ", edad)

Luis Hernandez 5
Tu edad:  cinco

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print("La suma es: ", suma)

La suma es:  13.9

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
suma = num1 + num2
print("La suma es: ", suma)

Num1: 5
Num2: 6
La suma es:  11.0

**TIPOS DE DATOS EN PYTHON**

In [ ]:
#ENTERO
num1 = 6
print(num1, "Esto es un numero entero")
print( str(num1) + " Esto es un entero"  )

#DECIMAL
num2 = 7.5
print(num2, "Esto es un numero decimal")

#BOOLEANO
esMayor = True
print(esMayor, "Esto es un booleano")

#CADENA
nombre = "Luis Hernandez"
cadena = input("Dime una cadena: ")
valor = int(input("Dime un valor: "))
print(nombre, "Esto es una cadena", cadena[:valor])

print( nombre, "Letra inicial", nombre[0],  "Un valor especifico", nombre[5], "rango", nombre[0:4], "Comenzar desde el final", nombre[-1])
print( nombre[5:len(nombre)], nombre[:4] )
print(type(nombre))

6 Esto es un numero entero
6 Esto es un entero
7.5 Esto es un numero decimal
True Esto es un booleano
Dime una cadena: Hola
Dime un valor: 4
Luis Hernandez Esto es una cadena Hola
Luis Hernandez Letra inicial L Un valor especifico H rango Luis Comenzar desde el final z
Hernandez Luis
<class 'str'>
2025-07-28 13:49:35.455377 2025-07-28 13:49:35.455377
<class 'datetime.datetime'>

In [ ]:
#FECHAS
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases " )

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-28 14:03:11.210910 2025-07-28 14:03:11.210910
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 01-01-2025
2025-01-01 00:00:00

**FUNCIONES EN PYTHON**

In [ ]:
#Suma
def suma(num1, num2):
  return num1 + num2

La suma de 5 + 8 =  13

In [ ]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  13

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 8
Num2: 6
La suma es:  14.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de las funciones, que reste dos numeros introducidos por el usuario. TAREA.

In [20]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados celcius a Farenheit.
def celsiusFarenheit(c):
  return c*1.8 + 32

In [21]:
c = int(input("Grados c: "))
f = celsiusFarenheit(c)
print("F: ", f)

Grados c: 38
F:  100.4

In [22]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados Farenheit a Celsius.
def farenheitCelsius(f):
  return (f-32) * 5/9

f = float(input("F: "))
c = farenheitCelsius(f)
print("C: ", c)

F: 100
C:  37.77777777777778

In [23]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados Celsius a Kelvin.
def celsiusKelvin(c):
  return c + 273.15

c = float(input("C: "))
k = celsiusKelvin(c)
print("K: ", k)

C: 35
K:  308.15

In [33]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que calcule
#el sueldo de un empleado, segun el numero de hrs trabajas y el valor por hora
def sueldo(numHrs, valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo

In [34]:
numHrs = float(input("Hrs: "))
valorXhr = float(input("Valor Xhr: "))
sueldo = sueldo(numHrs, valorXhr)

print("Sueldo: ", sueldo)

Hrs: 8
Valor Xhr: 10
Sueldo:  2400.0

In [44]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que permita elevar un numero a un exponente
def expoenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))

resultado = expoenciacion(b,e)
print("El Numero: ", b, ", elevado a ",e, ", el resultado es: ", resultado)

Base: 8
Exponente: 3
El Numero:  8.0 , elevado a  3.0 , el resultado es:  512.0